
<%= render 'welcome/slides'%>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h1 id ="kk" style="font-family: 'Young & Beautiful'; font-size: 500%;"><b><%= link_to 'All Restaurants', restaurants_path %></b></h1>

<style>

#kk a{
	color: #f2dec2;
}

#kk{
	margin-left: 300px; 
    margin-top: 10px;
}
</style>